<!DOCTYPE html>
<html>
  <head>
    <title>Python Intro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="static/remark.min.js" type="text/javascript">
      {"highlightStyle": "monokai"}
    </script>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <textarea id="source">
        __IMPORT_python-intro.md__
    </textarea>
    <div id="slideshow"></div>
  </body>
</html>
